.editor--container {
    padding: 16px;
    height: 100%;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.editor__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3E3F46;
    border-radius: 20px;
    padding: 8px 24px;
}

.editor__header-info {
    display: flex;
    justify-content: flex-end;
    padding: 8px 4px;
    margin-bottom: 16px;
}

.editor__profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 12px;
}

.editor__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.editor__username {
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
}

.editor__actions {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 14px;
}

.editor__action--button {
    background: none;
    border: none;
    padding: 6px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor__action--cancel {
    color: #FF0000;
}

.editor__action--save {
    color: #00FF00;
}

.editor__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editor__topic {
    border: none;
    background: transparent;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.25);
}

.editor__note {
    border: none;
    background: transparent;
    flex: 1;
    font-size: 18px;
    padding: 8px;
    resize: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.25);
}

.editor__last--update {
    color: #6c757d;
    font-size: 14px;
}

.editor__topic:focus,
.editor__note:focus {
    outline: none;
}

.editor__last--update {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #3E3F46;
    font-size: 14px;
}

.editor__last--update-label {
    font-weight: bold;
    font-size: 10px;    
}

.editor__last--update-time {
    color: #808080;
    font-size: 10px;
}