.contact__container {
    position: relative;
    padding: 30px;
    height: 100%;
    background: white;
}

.contact__header {
    background-color: white;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact__header--title {
    font-size: 24px;
    margin: 0;
    color: #000;
}

.contact__button--back {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #333333;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__form {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact__form__element {
    height: fit-content;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.contact__form__element--limit {
    font-size: 12px;
    color: #808080;
    font-weight: bold;
}
.contact__form__element--limit.maxLimitation {
    color: red;
}

.contact__form__element--title {
    outline: none;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px rgba(128, 128, 128, 0.5);
}

.contact__form__element--content {
    outline: none;
    resize: none;
    height: 300px !important;
    width: 100% !important;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgba(128, 128, 128, 0.5);
}

.contact__form__element__btn--send {
    text-transform: uppercase;
    height: fit-content;
    width: 100%;
    background-color: #3e3f46;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0px;
    border-radius: 10px;
}