.settings {
    height: 100%;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.settings__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.setting__header--title {
    font-size: 24px;
    margin: 0;
    color: #000;
}

.settings__back--button {
    color: #000; 
    font-size: 24px;
    background: transparent !important;
    display: flex;
    align-items: center;
    gap: 20px;
    border: none;
}

.settings__back--icon {
    font-size: 24px; 
}

.settings__title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.settings__funcs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 10px;
}

.settings__item {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    background: none;
    padding: 16px;
    border: none;
    border-bottom: 0.01px solid rgba(128, 128, 128, 0.5);
    /* box-shadow: 0 0 5px gray; */
}

.settings__item:nth-last-child(2) {
    border: none;
    i {
        color: #BD1B23;
    }
    
    p {
        color: #BD1B23;
    }
}

.settings__item--icon {
    color: #808080;
    font-size: 15px;
    margin-left: -12px;
}

.settings__item--text {
    color: #808080;
    font-size: 14px;
    font-weight: 400; 
}

.settings__item--delete {
    text-align:center;
    height: fit-content !important;
    width: 100%;
    font-size: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 12px;
    border-bottom: none;
    margin-top: 30px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #BD1B23;
}

.settings__item--textdelete {
    color: #BD1B23; 
}

.settings__item--delete .settings__item--icon {
    color: #BD1B23; 
}

.modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 90%;
    max-width: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

.modal__input--group {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.modal__icon {
    color: #000;
    font-size: 15px;
}

.modal__input {
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent !important;
    padding: 8px 0;
    border: none;
}

.modal__button {
    width: 50%;
    color: white;
    font-size: 14px;
    background-color: #00FF00;
    align-self: center;
    padding: 12px;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
}

.modal__button:hover {
    background-color: #00e631;
}

/* .modal__theme-options {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 16px 0;
}

.modal__theme-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border: 2px solid #eee;
    border-radius: 12px;
    background: none;
    cursor: pointer;
    transition: all 0.2s;
}

.modal__theme-button--active {
    border-color: #00ff37;
    background-color: rgba(0, 255, 55, 0.1);
}

.modal__theme-button:hover {
    border-color: #00ff37;
} */

.modal__delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.modal__title {
    text-align: center;
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    padding-bottom: 10px;
}

.modal__verify-code {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 12px;
    gap: 4px;
}

.modal__input--verify {
    text-align: center;
    font-size: 14px;
    color: rgba(128, 128, 128, 1);
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.modal__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal__button--sendCode {
    flex: 1;
    color: #000;
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 8px;
}

.modal__button--sendCode:hover {
    background-color: #ddd;
}

.modal__button--delete {
    flex: 1;
    color: white;
    font-size: 16px;
    background-color: #BD1B23;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    border-radius: 20px;
}

.modal__button--delete:hover {
    background-color: #BD1B23;
}