.verification {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.verification__form {
    height: fit-content;
    width: 90%;
    background-color: #1E2D40;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verification__form--title {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.verification__form--note {
    text-align: center;
    font-size: 12px;
    color: gray;
}

.verification__form__inputContainer {
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .verification__form__inputContainer--form--input {
        text-align: center;
        height: 50px;
        width: 50px;
        color: white;
        font-size: 20px;
        background-color: #3e3f46;
        border: 1px solid gray;
        border-radius: 10px;
    }
}

.verification__form--closeBtn {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    background-color: #eeeeee;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 5px;
}