.editor__container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.editor__header {
    display: flex;
    align-items: center;
}

.editor__button--back {
    color: #333333;
    font-size: 20px;
    background: none;
    padding: 10px;
    border: none;
}

.editor__user--info {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.editor__user--avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.editor__user--username {
    font-size: 16px;
    color: #333333;
}

.editor__actions {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 14px;
}

.editor__action--button {
    font-size: 20px;
    background: none;
    padding: 8px;
    border: none;
}

.editor__action--cancel {
    color: #FF0000;
}

.editor__action--save {
    color: #00FF00;
}

.editor__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.editor__topic {
    height: fit-content;
    width: 100%;
    color: #3e3f46 !important;
    font-size: 16px;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid rgba(128, 128, 128, 0.25);
}

.editor__topic::placeholder {
    color: rgba(128, 128, 128, 0.5);
}

.editor__note {
    resize: none;
    flex: 1;
    font-size: 14px;
    color: #3e3f46 !important;
    background: transparent;
    border: 0.5px solid rgba(128, 128, 128, 0.25);
    border-radius: 10px;
    padding: 20px 10px;
}

.editor__note::placeholder {
    color: rgba(128, 128, 128, 0.5);
}

.editor__footer {
    padding: 16px 0;
    text-align: right;
}

.editor__last--update {
    color: #6c757d;
    font-size: 10px;
}

.editor__topic:focus,
.editor__note:focus {
    outline: none;
}

.editor__last--update {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #3E3F46;
    font-size: 14px;
}

.editor__last--update-label {
    font-weight: bold;
    font-size: 10px;    
}

.editor__last--update-time {
    color: #808080;
    font-size: 10px;
}