.chatbox {
  height: 100%;
  font-size: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chatbox__header {
  height: fit-content;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 16px;
  box-shadow: 0 1px 5px rgba(128, 128, 128, 0.5);
}

.chatbox__header.online {
  border: 1px solid lime;
}

.chatbox__button--back {
  font-size: 18px;
  color: black;
  background: transparent !important;
  border: none;
  padding: 10px;
  margin-right: 15px;
}

.chatbox__user {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.chatbox__avatar {
  overflow: hidden;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #000;
}

.chatbox__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatbox__user--info {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.chatbox__user--username {
  height: 100%;
  color: black;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
}

.chatbox__user--onlineStatus {
  height: fit-content;
  width: fit-content;
  font-size: 10px;
  color: #3E3F46;
  background-color: transparent !important;
}

.chatbox__messages {
  flex: 1;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
}

.chatbox__message:has(.chatbox__bubble--sent) {
  align-self: flex-end;
}

.chatbox__bubble--received,
.chatbox__bubble--sent {
  word-break: break-word;
  width: fit-content;
  padding: 12px 16px;
  border-radius: 16px;
}

.chatbox__bubble--received {
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #808080;
}

.chatbox__bubble--sent {
  color: #ffffff;
  font-size: 14px;
  background-color: #3E3F46;
  border-radius: 10px;
  border: 1px solid #808080;
}

.chatbox__timestamp {
  font-size: 10px;
  color: #808080;
  align-self: flex-end;
  margin-right: 10px;
}

.chatbox__input--container {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.chatbox__input {
  flex: 1;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.chatbox__input::placeholder {
  color: #808080;
}

.chatbox__button--send {
  height: 40px;
  aspect-ratio: 1/1;
  color: white;
  background-color: #3E3F46;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
}