 /* Reset Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}


#root {
    height: 100%;
    width: 100%;
    background-color: transparent !important;
}

.ion-page {
    background-color: white;
    color: black;
}

p {
    user-select: none;
}

img {
    user-select: none;
}

.noSelect {
    user-select: none;
}