.starterpage {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-135deg, #1E2D40 44%, #BD1B23 100%);
}

.starterpage__element--logoShowcase {
    height: fit-content;
    width: fit-content;
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;

    .starterpage__element__logo {
        height: 160px;
        width: 160px;
    }

    .starterpage__element__slogan {
        text-transform: uppercase;
        color: white;
    }
}

.starterpage__element--loadingAssets {
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: 40px;
    margin: 0 auto;
    background-color: transparent !important;

    .starterpage__element--loading {
        color: white;
        font-size: 14px;
    }
}