.forgotPasswordPage {
    height: 100%;
    width: 100%;
    background-color: #1E2D40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordPage__form {
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgotPasswordPage__element--headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    .forgotPasswordPage__header--icon {
        height: 36px;
        width: 36px;
    }

    .forgotPasswordPage__header--content {
        height: fit-content;
        width: fit-content;
        color: white;
        margin: 0 !important;
    }
}

.forgotPasswordPage__inputContainer {
    flex: 1;
    height: fit-content;
}

i {
    font-size: 20px;
    width: auto;
    color: white;
}

.forgotPasswordPage__inputBox {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;

    .forgotPasswordPage__input {
        outline: none;
        flex: 1;
        height: 50px;
        color: white;
        font-size: 14px;
        background-color: transparent;
        border: none;
    }
}

.forgotPasswordPage__announce {
    color: #BD1B23;
    font-size: 12px;
}

.forgotPasswordPage__btn {
    height: 50px;
    width: 100%;
    font-size: 16px;
    background-color: #172737;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.25);
    margin-top: 20px;
}

.forgotPasswordPage__backToSignIn {
    height: fit-content;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a {
        text-decoration: none;
        color: #808080;
        font-size: 12px;
        font-style: italic;
    }
}